trigger:
  branches:
    include:
      - develop
      - main

pr:
  branches:
    include:
      - main

pool:
  name: FiapCloudGames

variables:
  buildConfiguration: "Release"

stages:
  - stage: Build
    displayName: "Build Solution"
    jobs:
      - job: Build
        steps:
          - task: UseDotNet@2
            inputs:
              packageType: "sdk"
              version: "8.x"

          - script: dotnet restore FiapCloudGames.sln
            displayName: "Restore NuGet packages"

          - task: DotNetCoreCLI@2
            inputs:
              azureSubscription: 'Azure for Students(a823f9d1-e0f4-4b84-b935-0e859c9f64b3)'
              command: 'build'
              projects: 'FiapCloudGames.sln'
              arguments: '--configuration $(buildConfiguration) --no-restore'
            displayName: "Build Solution"

          - publish: $(Build.SourcesDirectory)/tests/FiapCloudGames.Tests/bin/Release/net8.0/
            artifact: fiap-cloud-games-binaries
            displayName: "Publish Binaries"

  - stage: Test
    displayName: "Run Tests"
    dependsOn: Build
    jobs:
      - job: Test
        steps:
          - task: DotNetCoreCLI@2
            inputs:
              azureSubscription: 'Azure for Students(a823f9d1-e0f4-4b84-b935-0e859c9f64b3)'
              command: 'test'
              projects: '..\test-binaries\FiapCloudGames.Tests.dll'
              arguments: '--no-build --collect:"XPlat Code Coverage"'
              testRunTitle: 'Test'

  - stage: Publish
    displayName: "Publish Artifacts"
    dependsOn: Test
    # condition: and(succeeded(), eq(variables['Build.Reason'], 'Manual'), eq(variables['Build.SourceBranch'], 'refs/heads/main'))
    condition: succeeded()
    jobs:
      - job: Publish
        steps:
          - task: DotNetCoreCLI@2
            inputs:
              azureSubscription: 'Azure for Students(a823f9d1-e0f4-4b84-b935-0e859c9f64b3)'
              command: 'publish'
              publishWebProjects: false
              projects: '..\test-binaries\FiapCloudGames.Api.dll'
              arguments: '--no-build --output $(Build.ArtifactStagingDirectory) -t fiapcloudgamesacr.azurecr.io/fiap-cloud-games-api'
              zipAfterPublish: false
              modifyOutputPath: false

          # - script: dotnet publish src/FiapCloudGames.Api/FiapCloudGames.Api.csproj --configuration $(buildConfiguration) 

          #   displayName: "Publish API Project"

          # - publish: $(Build.ArtifactStagingDirectory)
          #   artifact: drop
          #   displayName: "Publish Artifact"
