trigger:
  branches:
    include:
      - develop
      - main

pr:
  branches:
    include:
      - main

pool:
  name: FiapCloudGames

variables:
  buildConfiguration: "Release"

stages:
  - stage: Build
    displayName: "Build Solution"
    jobs:
      - job: Build
        steps:
          - task: UseDotNet@2
            inputs:
              packageType: "sdk"
              version: "8.x"

          - script: dotnet restore FiapCloudGames.sln
            displayName: "Restore NuGet packages"

          - task: DotNetCoreCLI@2
            inputs:
              azureSubscription: 'Azure for Students(a823f9d1-e0f4-4b84-b935-0e859c9f64b3)'
              command: 'build'
              projects: 'FiapCloudGames.sln'
              arguments: '--configuration $(buildConfiguration) --no-restore'
            displayName: "Build Solution"

          - publish: $(Build.SourcesDirectory)/tests/FiapCloudGames.Tests/bin/Release/net8.0/
            artifact: fiap-cloud-games-binaries
            displayName: "Publish Binaries"

  - stage: Test
    displayName: "Run Tests"
    dependsOn: Build
    jobs:
      - job: Test
        steps:
          - task: DotNetCoreCLI@2
            inputs:
              azureSubscription: 'Azure for Students(a823f9d1-e0f4-4b84-b935-0e859c9f64b3)'
              command: 'test'
              projects: '..\test-binaries\FiapCloudGames.Tests.dll'
              arguments: '--no-build --collect:"XPlat Code Coverage"'
              testRunTitle: 'Test'

  - stage: Publish
    displayName: "Publish Artifacts"
    dependsOn: Test
    # condition: and(succeeded(), eq(variables['Build.Reason'], 'Manual'), eq(variables['Build.SourceBranch'], 'refs/heads/main'))
    condition: succeeded()
    jobs:
      - job: Publish
        steps:
            - task: AzureCLI@2
              inputs:
                azureSubscription: 'Azure for Students(1)(a823f9d1-e0f4-4b84-b935-0e859c9f64b3)'
                scriptType: 'ps'
                scriptLocation: 'inlineScript'
                inlineScript: |
                  az webapp extension set --resource-group rg-fiapcloudgames --name fiapcloudgames-api --extension-type newrelic.apm.windows
                  az webapp restart --resource-group rg-fiapcloudgames --name fiapcloudgames-api
                  
            - task: Docker@2
              displayName: 'Build Docker image'
              inputs:
                command: build
                repository: fiapcloudgamesacr.azurecr.io/fiap-cloud-games-api
                Dockerfile: src/FiapCloudGames.Api/Dockerfile
                tags: latest
                buildContext: .
                containerRegistry: 'fiapcloudgames-acr-connection'

            - task: Docker@2
              displayName: 'Push Docker image to ACR'
              inputs:
                command: push
                repository: fiap-cloud-games-api
                tags: latest
                containerRegistry: 'fiapcloudgames-acr-connection'
