trigger:
  branches:
    include:
      - develop
      - main

pr:
  branches:
    include:
      - main

pool:
  name: FiapCloudGames

variables:
  buildConfiguration: "Release"

stages:
  - stage: Build
    displayName: "Build Solution"
    jobs:
      - job: Build
        steps:
          - task: UseDotNet@2
            inputs:
              packageType: "sdk"
              version: "8.x"

          - script: dotnet restore FiapCloudGames.sln
            displayName: "Restore NuGet packages"

          - task: DotNetCoreCLI@2
            inputs:
              azureSubscription: 'Azure for Students(a823f9d1-e0f4-4b84-b935-0e859c9f64b3)'
              command: 'build'
              projects: 'FiapCloudGames.sln'
              arguments: '--configuration $(buildConfiguration) --no-restore'
            displayName: "Build Solution"

          - publish: $(Build.SourcesDirectory)/tests/FiapCloudGames.Tests/bin/Release/net8.0/
            artifact: fiap-cloud-games-binaries
            displayName: "Publish Binaries"
  # TODO: Enable tests after fixing testing app
  # - stage: Test
  #   displayName: "Run Tests"
  #   dependsOn: Build
  #   jobs:
  #     - job: Test
  #       steps:
  #         - task: DotNetCoreCLI@2
  #           inputs:
  #             azureSubscription: 'Azure for Students(a823f9d1-e0f4-4b84-b935-0e859c9f64b3)'
  #             command: 'test'
  #             projects: '..\test-binaries\FiapCloudGames.Tests.dll'
  #             arguments: '--no-build --collect:"XPlat Code Coverage"'
  #             testRunTitle: 'Test'

  - stage: Publish
    displayName: "Publish Artifacts"
    dependsOn: Build
    # TODO: Enable tests after fixing testing app
    # dependsOn: Test
    # condition: and(succeeded(), eq(variables['Build.Reason'], 'Manual'), eq(variables['Build.SourceBranch'], 'refs/heads/main'))
    condition: succeeded()
    jobs:
      - job: Publish
        steps:
            - task: Docker@2
              displayName: 'Build Docker image'
              inputs:
                command: build
                repository: fiap-cloud-games-api
                Dockerfile: src/FiapCloudGames.Api/Dockerfile
                tags: |
                  latest`
                  $(Build.BuildId
                buildContext: .
                containerRegistry: 'fiapcloudgames-acr-connection'
                buildArguments: --no-cache

            - task: Docker@2
              displayName: 'Push Docker image to ACR'
              inputs:
                command: push
                repository: fiap-cloud-games-api
                tags: |
                  latest
                  $(Build.BuildId)
                containerRegistry: 'fiapcloudgames-acr-connection'
