<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/a823f9d1-e0f4-4b84-b935-0e859c9f64b3/resourceGroups/rg-fiapcloudgames/providers/Microsoft.ContainerRegistry/registries/fiapcloudgamesacr</ResourceId>
    <ResourceName>fiapcloudgamesacr</ResourceName>
    <ResourceGroup>rg-fiapcloudgames</ResourceGroup>
    <Subscription>Azure for Students</Subscription>
    <RegistryUrl>https://fiapcloudgamesacr.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>73aa1e47-0cb7-4fa1-7d42-4630d287e3f2</ProjectGuid>
    <_TargetId>AzureContainerRegistry</_TargetId>
    <TargetFramework>net8.0</TargetFramework>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <SelfContained>false</SelfContained>
  </PropertyGroup>
</Project>